<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Node js </title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <div class="main">

        <div class="center"> 

            "Dear <%= username %> of age  <%= userage %>, welcome to our platform! We are ecstatic to have you join our community. 
             Your presence enriches us, and we're excited for the journey ahead. As you explore, should you need any help or 
             have any questions, our team is here to assist you. Thank you for choosing us, and we hope your experience with us 
             is nothing short of amazing!"

        </div>

    </div>
    
    <script src="/javascripts/script.js"></script>
</body>
</html>
